@{
    ViewBag.Title = "Dashboard";
}
<h3 class="text-success text-center">@ViewBag.RoleStatus</h3>
<div style="background-image: url('../../Content/BG.jpg'); height: 450px; width: 70%; margin: auto">    
    <h2 style="text-align:center; background-color:aliceblue" class="text-primary">
        Welcome To Employee Management System
    </h2>
</div>